<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="far fa-smile fa-7x"></i>
    <h1 class="display-3">Successfully registered!</h1>
  </div>
</div>

<%- include('partials/footer') %>
